[Unit]
Description=Convert Precomputed Web Service
After=network.target

[Service]
User=cnife
Group=cnife
WorkingDirectory=/home/cnife/code/convert_precomputed_web
Environment="PYTHONPATH=/home/cnife/code/convert_precomputed_web/src"
ExecStart=/home/cnife/.miniconda3/envs/convert-precomputed-web/bin/python -m uvicorn convert_precomputed_web.main:app --host 0.0.0.0 --port 2100
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
