[Unit]
Description=Script Hub Web Service
After=network.target

[Service]
User=cnife
Group=cnife
WorkingDirectory=/zjbs-data/service/script_hub
Environment="PYTHONPATH=/zjbs-data/service/script_hub/src"
ExecStart=/home/cnife/.miniconda3/envs/convert-precomputed-web/bin/python -m uvicorn convert_precomputed_web.main:app --host 0.0.0.0 --port 2100
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
